[package]
edition = "2021"
name = "macroquad-fun"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
macroquad = "0.3.23"
serde = "1.0.144"
serde_json = "1.0.85"
